
	<!-- HOME -->
	<section id="home" class="module-hero module-parallax module-fade bg-dark-30" data-background=  <%= asset_path "7subway1.jpg"%>>

		<div class="hs-caption container">
			<div class="caption-content">
				<div class="hs-title-size-4 font-alt m-b-30">
					Web Developer
				</div>
				<div class="hs-title-size-1 font-inc">
					Graduate of Flatiron School 2016
				</div>
			</div>
		</div>

	</section >
	<!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-6">
						<h2 class="module-title font-alt">"Be bold and courageous...</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-6">
						<blockquote class="font-serif align-right">
							<p>When you look back on your life, you'll regret the things you didn't do more than the ones you did."</p>
							<p class="font-inc font-uppercase">-H. Jackson Brown, Jr.</p>
						</blockquote>
					</div>
					<!-- /BLOCKQUOTE -->

				</div>

			</div>

		</section>
		<!-- /TESTIMONIAL -->

	</div>
	<!-- /WRAPPER -->
