
	<!-- HOME -->
	<section id="home" class="module-hero module-parallax module-fade bg-dark-30" data-background=  <%= asset_path "7subway1.jpg"%>>

		<div class="hs-caption container">
			<div class="caption-content">
				<div class="hs-title-size-4 font-alt m-b-30">
					Web Developer
				</div>
				<div class="hs-title-size-1 font-inc">
					Graduate of Flatiron School 2016
				</div>
			</div>
		</div>

	</section >
	<!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-6">
						<h2 class="module-title font-alt">"Be bold and courageous...</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-6">
						<blockquote class="font-serif align-right">
							<p>When you look back on your life, you'll regret the things you didn't do more than the ones you did."</p>
							<p class="font-inc font-uppercase">-H. Jackson Brown, Jr.</p>
						</blockquote>
					</div>
					<!-- /BLOCKQUOTE -->

				</div>

			</div>

		</section>
		<!-- /TESTIMONIAL -->

		<!-- ABOUT -->
		<section class="module p-t-0 p-b-0" data-background=  <%= image_tag ("section-4.jpg") %>>

			<div class="container-fluid">

				<div class="row relative">

					<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

						<h2 class="module-title font-alt">About</h2>

						<div class="module-subtitle font-inc">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>

						<p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>

						<p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>

					</div>

				</div>

			</div>

		</section>
		<!-- /ABOUT -->

	</div>
	<!-- /WRAPPER -->
