<!-- HOME -->
<section id="about" class="module module-header bg-dark bg-dark-50" data-background=<%= asset_path "bolivia.jpg"%>>

  <!-- MODULE TITLE -->
  <div class="row">

    <div class="col-sm-6 col-sm-offset-3">

      <h1 class="module-title font-alt align-center">My Story</h1>

      <div class="module-subtitle font-inc align-center">
          Fashion -> Web Develoment
      </div>

    </div>

  </div>
  <!-- /MODULE TITLE -->
</section >

<!-- /HOME -->

<!-- ABOUT -->
<br>
<section class="container"  %>

  <div class="container-fluid">

    <div class="row relative">

      <div class="module-subtitle font-inc align-center">
        <h4>Korean Heritage. Bolivian born. Queens, NYC raised.</h4>
      </div>


      <div class="container">
      <!-- LEFT SIDE -->
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div id="aboutpicture">
         <%= image_tag ("Headshot-2-edited.jpg")%>
        </div>
      </div>


      <!-- RIGHT SIDE  -->


      <div class="col-sm-6 col-md-6 col-lg-6">


        <p>Hi! My name is Cindy Kim and I’ve recently graduated from Flation School as a Web Developer.
           Let me start with a small anecdote as to how I got here.
        </p>
        <p>My first experience with coding was through a popular blog called Xanga around 2002.
           This blog had limited themes to choose from so you needed to learn html in order to truly
           personalize it. It’s no longer around and I wonder why… I didn’t know that this would
           trigger something later on in my future but it did!
        </p>
        <p>
          At the time I was really passionate for Fashion so I attended Fashion Institute of Technology
           for Fashion Merchandising and Management (currently split between Fashion Business Management
           and Production Management). I obtained an undergraduate Bachelors of Science degree and started
           my career in production/product development.
        </p>
        <p>
          I enjoyed it very much because it gave me a balance between being analytical and creative.
           It helped me be creative by having influence on approvals as concept of design was being
           executed in production. It was analytical because I needed to understand which factories had
           certain capacities that would allow us to reach shipping dates and cost margins.
        </p>
        <p>
          I didn’t realize that I wanted to become more hands on creating until I started working
          at West Elm. In West Elm we would used Flex PLM which is a web based application that
          tracks the workflow from concept of design to production. Interacting with a web application
          everyday reminded me of the days where I would design the aesthetic of my blog which sparked
          my interested in web development. So I decided to apply to Flatiron School.
        </p>
        <p>
          Attending Flatiron School I’ve learned many languages and skills and a few are:
           Ruby, Ruby on Rails, Javascript, Jquery, etc…. If you are interested in more check out my LinkedIn below.
        </p>
        <p>
          I’ve done a few projects during and since then. Great example would be this
          website that you are currently in! Check out the rest in my portfolio. I am very excited to
          see where this new journey takes me and what great things I’ll be creating!
        </p>
      </div>

    </div>

  </div>

<hr>
<br>
  <div class="module-subtitle font-alt align-center">
    <p>Picture: Catedral de Santa Cruz De La Sierra, Bolivia</p>
  </div>
</section>
<!-- /ABOUT -->
