<!-- HOME -->
<section id="about" class="module module-header bg-dark bg-dark-50" data-background=<%= asset_path "bolivia.jpg"%>>

  <!-- MODULE TITLE -->
  <div class="row">

    <div class="col-sm-6 col-sm-offset-3">

      <h1 class="module-title font-alt align-center">My Story</h1>

      <div class="module-subtitle font-inc align-center">
          Fashion -> Web Develoment
      </div>

    </div>

  </div>
  <!-- /MODULE TITLE -->
</section >

<!-- /HOME -->

<!-- ABOUT -->
<br>
<section class="container"  %>

  <div class="container-fluid">

    <div class="row relative">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="module-subtitle font-inc align-center">
          Korean Heritage. Bolivian born. Queens, NYC raised.
        </div>

        <p>I studied Fashion Merchandising and Management at FIT in Product Development.
           This was great because it gave me a balance between being creative and analytical.
           In ways of able to create but also be pragmatic to the business. </p>

        <p>I didn’t realize that I wanted to become more hands on creating until I started working at West Elm.
           In West Elm we would use Flex PLM which is a web based application that tracks the workflow from concept of design to production.
            Interacting with a web application everyday reminded me of the days where I would design the front end of my blog because it was very limited in the themes it provided.
             It was called xanga.com but it’s not around anymore. I wonder why… It sparked my interested in web development again.
              I enjoy building/creating and that is why I’ve decided to become a web developer. </p>



      </div>

    </div>

  </div>

</section>
<!-- /ABOUT -->
