<!-- HOME -->
<section id="about" class="module module-header bg-dark bg-dark-50" data-background=<%= asset_path "bolivia.jpg"%>>

  <div class="container">

    <!-- MODULE TITLE -->
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h1 class="module-title font-alt align-center">About</h1>

        <div class="module-subtitle font-inc align-center">
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
        </div>

      </div>

    </div>
    <!-- /MODULE TITLE -->

  </div>

</section >
<!-- /HOME -->
