<!-- CONTACT -->
<section class="module-small">

  <div class="container">

    <div class="row">

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-map-marker"></span>
          </div>
          <div class="content-box-title font-inc">
            New York, NY
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-mobile"></span>
          </div>
          <div class="content-box-title font-inc">
            Tel: +1 646 644 8751
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-envelope-o"></span>
          </div>
          <div class="content-box-title font-inc">
            cindy.kim@flatironschool.com
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->


    </div>
    <!-- FOOTER -->
    <footer class="footer">

      <div class="container">

        <div class="row">

          <div class="col-sm-12 text-center">
            <ul class="social-list"
            <li><a href="#"><span class="fa fa-facebook-square fa-2x"></span></a></li>
            <li><a href="#"><span class="fa fa-github"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
          </ul>

        </div>

      </div>

    </div>

  </footer>
  <!-- /FOOTER -->

  </div>

</section>
<!-- /CONTACT -->
