<!-- CONTACT -->
<section class="module-small">

  <div class="container">

    <div class="row">

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-map-marker"></span>
          </div>
          <div class="content-box-title font-inc">
            New York, NY
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <%= link_to "https://github.com/cindyk09", target: "_blank" do %>
              <span class="fa fa-github">
              <%end%>
              <div class="content-box-title font-inc">
                Github
              </div>
          </div>

        </div>
      </div>
      <!-- /CONTENT BOX -->

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <%= link_to "https://www.linkedin.com/in/cindy-kim-4b123832", target: "_blank" do %>
              <span class="fa fa-linkedin">
              <%end%>
          </div>
          <div class="content-box-title font-inc">
            LinkedIn
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->


    </div>
    
  </div>

</section>
<!-- /CONTACT -->
