<!-- CONTACT -->
<section class="module-small">

  <div class="container">

    <div class="row">

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-map-marker pr-10"></span>
          </div>
          <div class="content-box-title font-inc">
            New York, NY
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-mobile pr-10"></span>
          </div>
          <div class="content-box-title font-inc">
            Tel: +1 646 644 8751
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->

      <!-- CONTENT BOX -->
      <div class="col-sm-4">
        <div class="content-box">
          <div class="content-box-icon">
            <span class="fa fa-envelope-o pr-10"></span>
          </div>
          <div class="content-box-title font-inc">
            cindy.kim@flatironschool.com
          </div>
        </div>
      </div>
      <!-- /CONTENT BOX -->

    </div>

  </div>

</section>
<!-- /CONTACT -->
